---
class:
- stop
rel:
- self
properties:
  name: Verification
  sort: 984
  level: 2
  description: Ability to verify availability, and health of DNS infrastructure, and
    certifying for other parties.
entities:
- class:
  - stop
  rel:
  - self
  properties:
    name: Verification
  links:
  - rel:
    - self
    href: dns/stability/verification.md
  - rel:
    - parent
    href: dns/stability/
links:
- rel:
  - self
  href: dns/stability/verification.md
- rel:
  - parent
  href: dns/stability/
...
