---
class:
- stop
rel:
- self
properties:
  name: Verification
  sort: 1549
  level: 2
  description: Verification that a virtualization environment exists and matches existing
    definition.
entities:
- class:
  - stop
  rel:
  - self
  properties:
    name: Verification
  links:
  - rel:
    - self
    href: virtualization/core-virtualization/verification.md
  - rel:
    - parent
    href: virtualization/core-virtualization/
links:
- rel:
  - self
  href: virtualization/core-virtualization/verification.md
- rel:
  - parent
  href: virtualization/core-virtualization/
...
