---
layout: default
title: API Plan
---
<h1>API Journey - Level Two</h1>

{% assign lines = site.journey | sort: 'properties.sort' %}
{% assign line_count = 1 %}
{% for one in lines %}

  {% assign is_line = 0 %}
  {% for class in one.class %}
    {% if class == "line" %}
      {% assign is_line = 1 %}
    {% endif %}
  {% endfor %}

  {% assign one_base_path = one.path | replace: '.md','' %}

  {% if is_line == 1 and one.properties.level == 1 %}

    <p><strong>{{ one.properties.name }}</strong> ({{ one.path }}/{{ one_base_path }}) ({{ one.properties.level }}/{{ one.properties.sort }}) - {{ one.properties.description }}</p>
    {% assign line_count = line_count | plus: 1 %}

    <ul>
     {% for two in lines %}

       {% assign is_child = 0 %}
       {% if two.path contains one_base_path %}
         {% assign is_child = 1 %}
       {% endif %}

       {% assign two_base_path = two.path | replace: '.md','' %}

       {% if one.path != two.path %}
         {% assign this_path = two.path | replace: '.md','' %}
         {% assign use_path = this_path | replace: '_journey/','' %}
         {% if one.properties.level == 1 and two.properties.level == 2 %}
           {% if this_path contains one_base_path %}
            <li><strong>{{ two.properties.name }}</strong> ({{ two.path }}/{{ two_base_path }}) ({{ two.properties.level }}/{{ two.properties.sort }}) - {{ two.properties.description }}</li>
           {% endif %}
         {% endif %}
         {% if one.properties.level == 2 and two.properties.level == 3 %}
           {% if this_path contains two_base_path %}
             <li><strong>{{ two.properties.name }}</strong> ({{ two.path }}/{{ two_base_path }}) ({{ two.properties.level }}/{{ two.properties.sort }}) - {{ two.properties.description }}</li>
           {% endif %}
         {% endif %}
       {% endif %}


     {% endfor %}
     </ul>

    <hr />

  {% endif %}

{% endfor %}
