<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="#Partners">Partners</a></li>
    <li><a href="#Guide">Guide</a></li>
    <li><a href="#News">News</a></li>
    <li><a href="#Organizations">Organizations</a></li>
    <li><a href="#BuildingBlocks">Building Blocks</a></li>
    <li><a href="#Tools">Tools</a></li>
    <li><a href="/documentation/">Documentation</a></li>
    <li><a href="#About">About</a></li>
    <li><a href="http://apievangelist.com">API Evangelist</a></li>
  </ul>
</nav>
