<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>

			<div id="wrapper">
					<div id="main">
						<div class="inner">

              {% include header.html %}
    	        {{ content }}
              {% include footer.html %}

            </div>
          </div>

          <div id="sidebar">
          <div class="inner">

            {% include sidebar_nav.html %}

            {% include sidebar_partners.html %}

            {% include sidebar_getintouch.html %}
          </div>
          </div>

      </div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>

</body>
</html>
