---
layout: default
---

{% assign entries = site.journey | sort: 'properties.sort' %}

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-top: 5px;">
  <tr style="background-color: #FFF; height: 20px;">
    <td width="48%" style="background-color#FFF;"></td>
    <td><img src="/images/black-circle-top.png" style="display: block; width:75px;"></td>
    <td width="40%" style="background-color#FFF;"></td>
  </tr>
  <tr style="background-color: #006400;">
    <td width="48%" style="background-color#FFF;"></td>
    <td><img src="/images/black-circle-center.png" style="display: block; width:75px;"></td>
    <td width="40%" style="background-color#FFF;"></td>
  </tr>
  <tr style="background-color: #FFF;">
    <td width="46%" style="background-color#FFF;"></td>
    <td><img src="/images/black-circle-bottom.png" style="display: block; width:75px;"></td>
    <td width="40%" style="background-color#FFF;"></td>
  </tr>
</table>
<div id="subwaymoving" style="height: 100%; width: 100%; margin-top: 10px;"><img src="/images/subway-moving.gif" width="100%" /></div>
<div id="contentbody" style="height: 100%; width: 100%; display: none;">

  {% assign elements = page.path | replace: '.md','' %}
  {% assign elements = elements | split: '/' %}
  {% assign line = elements[0] | append: '/' | append: elements[1] %}
  {% assign line2 = elements[0] | append: '/' | append: elements[1] | append: '/' | append: elements[2] %}

  {% assign root_path = elements[1] | capitalize %}

  <h1>{% if root_path != page.properties.name %}{{ root_path }} / {% endif %}{{ page.properties.name }}</h1>
  <p>{{ page.properties.description }}</p>
  <hr />
  <!-- Find the parent link-->
  {% assign parent_link = '/' %}
  {% for links in page.links %}
    {% for rels in links.rel %}
      {% if rels == "parent" %}
        {% assign parent_link = links.href %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% assign tools = page.properties.tools %}
  {% assign tool_count = tools | size %}
  {% if tool_count > 0 %}
    <h2>Tools</h2>
    <ul>
    {% for tool in tools %}
      <li><a href="{{ tool.url }}" target="_blank"><strong>{{ tool.name }}</strong></a> - {{ tool.description }}</li>
    {% endfor %}
    </ul>
    <hr />
  {% endif %}

  {% assign services = page.properties.services %}
  {% assign service_count = services | size %}
  {% if service_count > 0 %}
    <h2>Services</h2>
    <ul>
    {% for service in services %}
      <li><a href="{{ service.url }}" target="_blank"><strong>{{ service.name }}</strong></a> - {{ service.description }}</li>
    {% endfor %}
    </ul>
    <hr />
  {% endif %}

  {% assign items = page.properties.items %}
  {% assign item_count = items | size %}
  {% if item_count > 0 %}
    <h2>Items</h2>
    <ul>
    {% for item in items %}
      <li><strong>{{ item.name }}</strong> - {{ item.description }}</li>
    {% endfor %}
    </ul>
    <hr />
  {% endif %}

  <table width="100%">
    <tr>
      <td width="50%" align="center" valign="middle" style="padding-top: 25px;">
        <input type="button" id="savestop" name="savestop" value="Save This Stop" onclick="saveStop();">
      </td>
      <td width="50%">
        <strong>Notes:</strong><br /><textarea style="width: 100%; height: 100px;" id="notes" onchange="saveStop();"></textarea>
      </td>
    </tr>
  </table>
  <script>
    function saveStop()
      {
      notes = document.getElementById("notes").value;
      stop = { name: '{{ page.properties.name }}', path: '{{ page.path }}', notes: notes }
      //console.log(stop);
      sessionStorage.setItem('{{ page.path }}', JSON.stringify(stop));
      }

    savedinfo = JSON.parse(sessionStorage.getItem('{{ page.path }}'));
    console.log(savedinfo);
    if(savedinfo)
      {
      document.getElementById("notes").value = savedinfo.notes;
      }
  </script>
  <hr />

  <!--- Build Pagination-->
  <table align="center" width="60%">
  {% assign last_path = '/' %}
  {% assign last_name = '' %}
  {% assign next_path = '/' %}
  {% assign next_name = '' %}
  {% assign tracking_name = '' %}
  {% assign tracking = '/' %}
  {% assign get_next = 0 %}
  {% for entry in entries %}
    {% if entry.path contains line %}

      {% if get_next == 1 %}
        {% assign next_path = entry.path %}
        {% assign next_name = entry.properties.name %}
        {% assign get_next = 0 %}
      {% endif %}

      {% if page.path == entry.path %}
        {% assign last_path = tracking %}
        {% assign last_name = tracking_name %}
        {% assign get_next = 1 %}
      {% endif %}

      {% if page.path != entry.path %}
        {% assign this_path = entry.path %}
        {% assign use_path = this_path | replace: '_journey/','' | replace: '.md','' %}
        {% if page.properties.level == 1 and entry.properties.level == 2 %}
          {% if this_path contains line %}
          <tr>
            <td width="25%" align="center" valign="middle"><a href="/journey/{{ use_path }}"><img src="/images/transfer.png" width="40" /></a></td>
            <td style="vertical-align: middle; font-size: 18px;"><strong>{{ entry.properties.name }}</strong></td>
            <td width="25%" align="center" valign="middle"><a href="/journey/{{ use_path }}"><img src="/images/subway-arrow-right.png" width="40" /></a></td>
          </tr>
          {% endif %}
        {% endif %}
        {% if page.properties.level == 2 and entry.properties.level == 3 %}
          {% if this_path contains line2 %}
            <tr>
              <td width="25%" align="center" valign="middle"><a href="/journey/{{ use_path }}"><img src="/images/transfer.png" width="40" /></a></td>
              <td style="vertical-align: middle; font-size: 18px;"><strong>{{ entry.properties.name }}</strong></td>
              <td width="25%" align="center" valign="middle"><a href="/journey/{{ use_path }}"><img src="/images/subway-arrow-right.png" width="40" /></a></td>
            </tr>
          {% endif %}
        {% endif %}
      {% endif %}

      {% assign tracking = entry.path %}
      {% assign tracking_name = entry.properties.name %}

    {% endif %}
  {% endfor %}
  </table>
  <hr />

  <table width="100%" border="0" cellpadding="5" cellspacing="5">
    <tr style="border: 1px solid #000;">
      <td width="33%" align="left">
        {% if last_path != '/' %}
          {% assign last_path = last_path | replace: '_journey/','' | replace: '.md','' %}
          <table border="0">
            <tr>
              <td><a href="/journey/{{ last_path }}"><img src="/images/subway-arrow-left.png" width="50" /></a></td>
              <td valign="middle" style="vertical-align: middle; font-size: 18px; font-weight: bold; padding-left: 3px;"><a href="/journey/{{ last_path }}"> ({{ last_name }})</a></td>
            </tr>
          </table>
        {% endif %}
      </td>
      <td width="33%" align="center">
        <table align="center" width="100%">
          <tr>
            {% if parent_link != '/' %}
            <td align="center">
              <table align="center" width="100%">
                <tr>
                  <td align="right"><a href="/journey/{{ parent_link }}"><img src="/images/black-circle.png" width="50" /></a></td>
                  <td align="left" style="vertical-align: middle; font-size: 18px; font-weight: bold; padding-left: 3px;"><a href="/journey/{{ parent_link }}">Line</a></td>
                </tr>
              </table>
            </td>
            {% endif %}
            <td align="center">
              <table align="center" width="100%">
                <tr>
                  <td align="right"><a href="/"><img src="/images/listings.png" width="50" /></a></td>
                  <td align="left" style="vertical-align: middle; font-size: 18px; font-weight: bold; padding-left: 3px;"><a href="/">Listing</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td width="33%" align="right">
        {% if next_path != '/' %}
          {% assign next_path = next_path | replace: '_journey/','' | replace: '.md','' %}
          <table border="0">
            <tr>
              <td valign="middle" style="vertical-align: middle; font-size: 18px; font-weight: bold; padding-right: 3px;"><a href="/journey/{{ next_path }}"> ({{ next_name }})</a></td>
              <td><a href="/journey/{{ next_path }}"><img src="/images/subway-arrow-right.png" width="50" /></a></td>
            </tr>
          </table>
        {% endif %}
      </td>
    </tr>
  </table>
  <hr />
</div>

<script>

setTimeout(function(){
     document.getElementById("subwaymoving").style.display='none';
     document.getElementById("contentbody").style.display='';
   }, 500);

</script>
