---
layout: default
title: API Plan
---
<h1>API Journey - Level 3</h1>

{% assign lines = site.journey | sort: 'properties.sort' %}
{% assign line_count = 1 %}
{% for plan in lines %}

  {% assign is_line = 0 %}
  {% for class in plan.class %}
    {% if class == "line" %}
      {% assign is_line = 1 %}
    {% endif %}
  {% endfor %}

  {% if is_line == 1 and plan.properties.level == 3 %}
    <p><strong>{{ plan.properties.name }}</strong> ({{ plan.path }}) ({{ plan.properties.level }}/{{ plan.properties.sort }}) - {{ plan.properties.description }}</p>
    {% assign line_count = line_count | plus: 1 %}
  {% endif %}

{% endfor %}
